@import "mixin.scss";
@import "variables.scss";

// THE COMMON

@media (min-width: 1024px) and (max-width: 1239px) {
	.wide .col {
		padding-left: 25px;
		padding-right: 25px;
	}
}

@media (min-width: 841px) and (max-width: 1023px) {
	.col {
		padding-left: 25px;
		padding-right: 25px;
	}
}

@media (min-width: 441px) and (max-width: 739px) {
	.c-12 {
		flex: 0 0 80%;
		max-width: 80%;
	}

	.row {
		justify-content: center;
	}
}

@media (max-width: 440px) {
	.row {
		justify-content: center;
	}

	.c-12 {
		flex: 0 0 90%;
		max-width: 90%;
	}
}

// -------------------Header-------------------

.header {
	@media (min-width: 1024px) and (max-width: 1239px) {
		&__btn {
			display: none;
		}
	}

	@media (max-width: 1023px) {
		background-color: #555555;
		position: relative;
		&__btn {
			display: none;
		}

		&__navbar-menu {
			display: none;
		}

		&__menubar {
			display: none;
		}

		&__rightSidebar {
			display: block;
		}
	}
}

// -------------------Container----------------
.container {
	@media (min-width: 769px) and (max-width: 1239px) {
		.wide .l-8 {
			flex: 0 0 100%;
			max-width: 100%;
		}

		.wide .l-4 {
			flex: 0 0 100%;
			max-width: 100%;
		}

		&__infor {
			justify-content: center;
			&-tipologies {
				justify-content: center;
			}
		}

		&__price-sales {
			@include widthHeight(100%, 112px);
		}

		&__img {
			height: 70vh;
		}

		&__discription p {
			letter-spacing: 0px;
		}

		&__image-small img {
			width: 100%;
			height: 70vh;
			//  50vh --> 40vh
		}

		&__gallery {
			.row .l-8 {
				flex: 0 0 66.7%;
				max-width: 66.7%;
			}

			.row .l-4 {
				flex: 0 0 33.3%;
				max-width: 33.3%;
			}
		}
	}

	@media (max-width: 768px) {
		&__infor-price {
			.container__infor {
				flex-direction: column;
				padding: 0px 15px 15px 30px;

				&-tipologies {
					padding: 8px 0;
				}
			}
		}

		&__price-sales {
			width: 100%;
			height: 14vh;
		}

		&__list {
			flex-direction: column;
			padding-bottom: 20px;
			&-items {
				padding: 5px 0;
			}
		}

		&__discription {
			padding: 0 10px;
			P {
				letter-spacing: 0;
			}
			&-ds-items {
				display: block;
			}
		}

		&__daybyday ul li span {
			line-height: 2rem;
		}

		&__form-fullName,
		&__form-mailAdrress,
		&__form-phone,
		&__form-textarea {
			flex-direction: column;
		}
	}

	@media (min-width: 500px) and (max-width: 768px) {
		&__img {
			height: 70vh;
		}

		&__image-small img {
			height: 60vh;
		}
	}

	@media (max-width: 499px) {
		&__img {
			height: 50vh;
		}

		&__image-small img {
			height: 40vh;
		}
	}

	&__gallery {
		@media (min-width: 1023px) and (max-width: 1215px) {
			.row {
				margin-left: -7.5px;
				margin-right: -7.5px;
			}

			.col {
				padding-left: 7.5px;
				padding-right: 7.5px;
			}

			img.pk-sm2 {
				height: 490px;
				width: 100%;
			}
		}

		@media (min-width: 841px) and (max-width: 1023px) {
			img.pack-side4 {
				width: 257px;
			}

			img.pack-side1 {
				width: 256px;
			}

			img.pk-sm2 {
				height: 403px;
				width: 100%;
			}
		}

		@media (min-width: 441px) and (max-width: 739px) {
		 .row {
			justify-content: flex-start;
			}
		}

		@media (min-width: 740px) and (max-width: 840px) {
			img.pack-side4 {
				width: 215px;
			}

			img.pack-side1 {
				width: 215px;
			}

			img.pk-sm2 {
				height: 342px;
				width: 100%;
			}
		}

		@media (max-width:739px) {
			img.pk-sm2 {
				display: none;
			}


		}


	}
}

// -------------------Footer-------------------
.footer {
	@media (min-width: 1024px) and (max-width: 1239px) {
		&__img-paralax {
			height: 700px;
		}
	}

	@media (max-width: 1023px) {
		&__heading {
			&-content {
				padding: 80px 30px;

				&-describle {
					margin-left: 0;
					padding-bottom: 40px;
				}

				&-search {
					width: 100%;
				}
			}
		}

		&__background > .row {
			justify-content: flex-start;
		}

		.col.l-6 {
			width: 100%;
		}
	}

	@media (min-width: 740px) and (max-width: 1023px) {
		&__heading-content-search {
			input {
				width: 100%;
			}

			button {
				padding: 14px 70px;
			}
		}

		&__background {
			margin-top: 70px;

			&-component-describle {
				p {
					font-size: 1.5rem;
					padding: 0 10px 25px 0;
				}
			}
		}

		&__img-paralax {
			height: 1300px;
		}
	}

	@media (max-width: 739px) {
		&__img-paralax {
			height: 1400px;
		}

		&__heading-content-search {
			display: block;
			button {
				width: 100%;
				margin-top: 10px;
				margin-left: 0;
			}

			input {
				width: 100%;
			}
		}

		&__background {
			margin-top: 100px;
			margin-left: 33px;
			width: 90%;
			padding: 45px 0px 50px 45px;

			&-component-describle {
				font-size: 1.5rem;
				padding: 0 10px 25px 0;
			}
		}

		&__background .col.c-12 {
			flex: 0 0 100%;
			max-width: 100%;
		}

		&__address {
			margin-left: 33px;
			width: 90%;
			&-text {
				display: block;
				text-align: center;
				height: auto;
				padding: 0;
				div {
					padding: 10px 0;
				}
			}
		}
	}

	@media (max-width: 440px) {
		.row {
			justify-content: center;
		}

		.header .row {
			justify-content: flex-start;
		}

		.c-12 {
			flex: 0 0 90%;
			max-width: 90%;
		}

		&__background {
			width: 83%;
		}

		&__img-paralax {
			height: 1550px;
		}
	}

	@media (max-width: 570px) {
		&__background {
			width: 85%;
		}

		&__address {
			width: 85%;
		}
	}

	@media (max-width: 330px) {
		&__background {
			width: 80%;
		}

		&__address {
			width: 80%;
		}
	}
}
